@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide the scrollbar */
:root::-webkit-scrollbar { 
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none;
}

/* Edge, newer Chrome */
body {
  -ms-overflow-style: none;
}
